language: node_js
addons:
    firefox: "latest"
node_js:
  - 0.10
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install typescript
  - export PATH=$(pwd)/node_modules/.bin:$PATH
